fastapi
uvicorn
python-dotenv
supabase
python-multipart
pymupdf
python-docx
pytest
scikit-learn
joblib
matplotlib
requests
python-dateutil
cryptography
email-validator

playwright
jinja2
openpyxl
